<div class="m-5">
    <span class="h4">Users List</span>
    <span class="mx-5"><input type="text" name="filter" id="filter" [(ngModel)]="filter"><button class="btn btn-primary mx-3" (click)="filterUsers()">Filtar</button></span>
</div>
<ul class="col-md-4" *ngFor="let user of filteredUsers">
    <li role="button" [routerLink]="['/user', user.id ]">
        <div>Name: {{ user.name }}</div>
        <div>Username: {{ user.username }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Phone: {{ user.phone }}</div>
    </li>
</ul>